
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282a36;
    color: #f8f8f2;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #44475a;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.health-bar {
    background-color: #ff5555;
    height: 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    background-color: #bd93f9;
    color: #282a36;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #6272a4;
}

.character {
    width: 300px;
    height: 300px;
}

.badge {
    background-color: #ff5555;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 100%;
}

.log-box {
    background-color: #44475a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    max-height: 200px;
    overflow-y: scroll;
}

.log-box h3 {
    margin-top: 0;
}

.log-box ul {
    padding-left: 20px;
}

.winner-box {
    background-color: #44475a;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.winner-box h2 {
    margin-top: 0;
}
